.App {
    text-align: center;
  }
  
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  .menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .menu-trigger {
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 356px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .menu-trigger:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .dropdown-menu{
    border-radius: 10px;
    width: 356px;
    height: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .dropdown-menu ul{
    /*border: solid rgb(96, 96, 96);*/
    border-radius: 10px;
    padding: 0px 50px 0px 50px
  }
  
  .dropdown-menu ul li{
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu ul li:hover a{
    color: brown;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }
  
  .dropdown-menu::before{
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    animation: mymove 1s forwards;
    overflow: hidden;
  }
  
  @keyframes mymove {
    from {height: 10px;}
    to {height: 300px;}
  }
  
  .dropdown-menu.slide{
    animation: slideLeft 1s forwards, mymove 1s forwards;
    height: 300px;
  }
  
  @keyframes slideLeft {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  