#P {
    color: #E9492A;
    
}

#L {
    color: #F6A43F;
    
}

#A {

    color: #5ECFB1;
    
}

#Y {
    color: #9BC851;
    
}

#G {
    color: #E08FA5;
    
}

#R {
    color: #E6D436;
    
}

#O {
    color: #E9492A;
    
}

#U {
    color: #F6A43F;
    
}

#N {
    color: #5ECFB1;
    
}

#D {
    color: #E08FA5;
    
}

#S {
    color: #E6D436;
    
}

