

#image2 { 
    position: absolute;
    width: 100%;
    height: auto;           
    margin-top: -260px;
    }

  #image3 { 
    
    margin-left: -350px;
    display: none;
    
    }

  #container {
    display: flex;
    }

    .menu-trigger1 {
      position: relative;
      margin: auto;
      font-size: 18px;
      font-weight: 400;
      background-color: white;
      border: none;
      border-radius: 10px;
      padding: 15px;
      padding-left: 30px;      
      width: 356px;
      height: 56px;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  
    .menu-trigger1:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

  #down {
    width: 20px;
    margin-left: 270px;
    margin-top: -20px;
  }

  .imgrotate::before {
    transform: none;
  }

  .imgrotate::after {
    transform: rotate(180deg);
  }

  #intro {
    display: none;
  }

  #logo {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }

  @media screen and (max-width: 600px) {
    #main {
        margin-bottom: 100px;
    }
    
    #image1 {
        width: 100%;
        height: auto;
        
        
        } 
    #image2 {
        display: block;
        }
    #logo {
        font-size: 30px;
        position: relative;
        bottom: 100px;
        display: flex;
        justify-content: center;
        } 
    #intro {
        display: block;
        text-align: center;
        } 
    }
    

  @media screen and (min-width: 601px) and (max-width: 1080px) {
    
    #image1 {
        width: auto;
        height: 100vh;
        max-width: 830px;
        min-width: 601px;

        } 

    #image2 {
        display: none;
        
        }

    #image3 {
        display: block;
        
        }

    #logo {
        position: relative;
        bottom: 100px; 
        font-size: 45px;
        display: block;
        padding-left: 30px;
        display: flex;
        }

    #intro {
        
        padding-left: 200px;
        display: block;
        margin: -600px auto;
        
        } 

        .menu-trigger1 {
          margin: auto;
          display: block;
          }
  
          .menu-container1 {
            margin-top: 600px;
            margin-left: 550px;
          }
      }      
    

  @media screen and (min-width: 1081px) {

    #image1 {
        width: auto;
        height: 100vh;
        max-width: 830px;
        min-width: 601px;
        
        } 
    #image2 {
        display: none;
        }
    #image3 {
        display: block;
        }
    #intro {
        
        padding-left: 200px;
        display: block;
        margin: -600px auto;
        
        } 
    #logo {
        position: relative;
        bottom: 100px;
        font-size: 120px; 
        display: flex; 
        justify-content: center;
        
        }
        .menu-container1 {
          margin-top: 600px;
          margin-left: 600px;
        }

    }

    @media screen and (min-width: 1550px) {
        #logo {
            position: relative;
            bottom: 100px;
            font-size: 180px;
            display: flex; 
            justify-content: center;
        }
    }

    ul{
      list-style: none;
    }
  
    li {
      text-decoration: none;
    }
    
    a{
      text-decoration: none;
    }
  
    
    .dropdown-menu1{
      margin: auto;
      margin-top: 5px;
      border-radius: 10px;
      width: 356px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .dropdown-menu1 ul{
      border-radius: 10px;
    }
    
    .dropdown-menu1 ul li{
      padding-left: 10px;
      padding-top: 8px;
      font-size: 18px;
    }
    
    .dropdown-menu1 ul li:hover a{
      color: brown;
      cursor: pointer;
    }
    
    .dropdownItem1{
      display: flex;
      margin: 10px auto;
    }
    
    .dropdownItem1 a{
      max-width: 100px;
      margin-left: 10px;
      transition: var(--speed);
    }
    
    .dropdown-menu1::before{
      position: absolute;
      right: 20px;
      height: 20px;
      width: 20px;
      transform: rotate(45deg);
    }
    
    .dropdown-menu1.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: var(--speed) ease;
      animation: moveDown 1s forwards;
      overflow: hidden;
    }
    
    @keyframes moveDown {
      from {height: 10px;}
      to {height: 85px;}
    }
    
    .dropdown-menu1.inactive{
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: var(--speed) ease;
    }





    