// @font-face {
//     font-family: "Nunito";   
//     src: url("../Fonts/Nunito-Black.ttf") format("truetype");
//   }

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;900&display=swap');

#image2 { 
    position: absolute;
    width: 100%;
    height: auto;           
    margin-top: -260px;
    }

  #image3 { 
    
    margin-left: -350px;
    display: none;
    
    }

  #container {
    display: flex;
    }

  .start {
        
        position: relative;
        bottom: 80px;
        border-radius: 6px;
        border-style: none;
        padding: 8px 20px 8px 2px;
        background-color: white;
        box-shadow: -1px 1px 5px 0.1px rgba(0,0,0,0.75);
        
    }   
    .start:hover {
        cursor: pointer;
        opacity: 0.6;
    }   
  #down {
    width: 10px;
    margin-left: 200px;
    
  }

  #intro {
    display: none;
  }

  #logo {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }

  @media screen and (max-width: 600px) {
    #main {
        margin-bottom: 100px;
    }
    
    #image1 {
        width: 100%;
        height: auto;
        
        
        } 
    #image2 {
        display: block;
        }
    #logo {
        font-size: 30px;
        position: relative;
        bottom: 100px;
        display: flex;
        justify-content: center;
        } 
    #intro {
        display: block;
        text-align: center;
        } 
    }
    

  @media screen and (min-width: 601px) and (max-width: 1080px) {
    #main {
        margin-bottom: 1200px;
    }
    
    #image1 {
        width: auto;
        height: 100vh;
        max-width: 830px;
        min-width: 601px;

        } 

    #image2 {
        display: none;
        
        }

    #image3 {
        display: block;
        
        }

    #logo {
        position: relative;
        bottom: 100px; 
        font-size: 45px;
        display: block;
        padding-left: 30px;
        display: flex;
        }

    #intro {
        
        padding-left: 200px;
        display: block;
        margin: -600px auto;
        
        } 

    .start {
        margin: auto;
        display: block;
        
        }
    }    
    

  @media screen and (min-width: 1081px) {
    #main {
        margin-bottom: 1000px;
    }

    #image1 {
        width: auto;
        height: 100vh;
        max-width: 830px;
        min-width: 601px;
        
        } 
    #image2 {
        display: none;
        }
    #image3 {
        display: block;
        }
    #intro {
        
        padding-left: 200px;
        display: block;
        margin: -600px auto;
        
        } 
    #logo {
        position: relative;
        bottom: 100px;
        font-size: 120px; 
        display: flex; 
        justify-content: center;
        
        }
    .start {
      margin: auto;
      display: block;
      
        }
    }

    @media screen and (min-width: 1550px) {
        #logo {
            position: relative;
            bottom: 100px;
            font-size: 180px;
            display: flex; 
            justify-content: center;
        }
    }