.modal {
    width: 356px;
    height: 632px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
}

.address {
    margin-left: -140px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    font-feature-settings: 'salt' on;
}

.thePhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #58676D;
    border-radius: 10px;
    width: 316px;
    height: 180px;
}

.photo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 8px;
    width: 312px;
    height: 176px;
}

.equipment {
    margin-left: -235px;

}

.icons10 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}

/* Styling of the description icons */
img.regularswing{ 
    margin: 2px;
}
img.slide {
    Margin:2px;
    }
    
img.rocker {
    Margin:2px;
}
    
img.infantSwing {
    Margin:2px;
}
    
img.basketSwing {
    Margin:2px;
}
    
img.tireSwing {
    Margin-left:2px;
}
    
img.playhouse {
    Margin-left:2px;
}
    
img.playhousePole {
    Margin-left: 2px;
}
    
img.CastleSlide {
    Margin-left: 2px;
}
    
img.castleMonkeyBars {
    Margin-left: 2px;
}
    
img.climbingNet {
    Margin-left: 2px;
}
    
img.seasaw {
    Margin-left: 2px;
}
    
img.carousel {
    Margin-left: 2px;
}
    
img.trampoline {
    Margin-left: 2px;
}
    
img.bench{
    Margin-left: 2px;
}    

@media only screen {
    .modal {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}

@media only screen and (min-width: 805px) {
    .modal {

    }
}

@media only screen and (min-width: 1200px) {
    .modal {
        max-width: 1800px;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
}

.themap {
    display: fixed;
    justify-content: center;
    align-items: center;
    border: solid #58676D;
    border-radius: 10px;
    width: 316px;
    height: 180px;
}

.googlemap {
   width: 316px;
   height: 176px;
   border-radius: 10px;
}