.modal {
    width: 356px;
    height: 632px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    margin-top: 100px;
    margin-left: 10px;
}

.address {
    margin-left: -140px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    font-feature-settings: 'salt' on;
}

.thePhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #58676D;
    border-radius: 10px;
    width: 316px;
    height: 180px;
}

.photo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 8px;
    width: 312px;
    height: 176px;
}

.equipment {
    margin-left: -235px;

}

.icons10 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    /* margin-left: -140px; */
}

.regularswing .slide .rocker .infantSwing .basketSwing .tireSwing .playhouse .playhousePole .CastleSlide .castleMonkeyBars .climbingNet .seasaw .carousel .trampoline .bench{
    margin: 10px;
}


@media only screen {
    .modal {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}

@media only screen and (min-width: 805px) {
    .modal {

    }
}

@media only screen and (min-width: 1200px) {
    .modal {
        max-width: 1800px;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
}

.themap {
    display: fixed;
    justify-content: center;
    align-items: center;
    border: solid #58676D;
    border-radius: 10px;
    width: 316px;
    height: 180px;
}

.googlemap {
   width: 316px;
   height: 176px;
   border-radius: 10px;
}