@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;900&display=swap');

.filter {
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 87px;
font-feature-settings: 'ss01' 1;
text-align: center;
}

.cardStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Card {
    width: 1500px;
}

.playgrounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(#ffff, #dfce2b);
    padding-bottom: 10%;
}